doctype html
- var lang = 'en';
- var polyfillURL = 'https://cdn.polyfill.io/v2/polyfill.min.js?rum=0&features=default,document.head,Object.freeze';
html(lang=lang)
  head
    title NgForage Demo
    meta(charset='utf8')
    meta(http-equiv='Content-Language', content=lang)
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=yes')
    link(rel='dns-prefetch', href='https://fonts.googleapis.com')
    link(rel='dns-prefetch', href='https://fonts.gstatic.com')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,500,700')
    link(rel='preload', as='script', href=polyfillURL)
  body.mat-app-background
    ngf-demo Loading...
    script(src=polyfillURL, type='text/javascript')